<!--
   This is the configuration for the MaskingPatternConfiguration.java file where
   it gets the regular expressions which are there to form the groups
   to replace sensitive data with * characters
   https://www.baeldung.com/logback-mask-sensitive-data
   https://logback.qos.ch/manual/appenders.html
-->
<configuration>
    <appender name="maskedOutputConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="de.security.microservice.server_discovery_eureka.Configuration.MaskingPatternConfiguration">
                <maskPattern>inserted_token\s*:\s*(.*?)\s</maskPattern>
                <maskPattern>EXTRACTED_TOKEN\s*:\s*(.*?)\s</maskPattern>
                <maskPattern>HEADER\s*:\s*(.*?)\s</maskPattern>
                <pattern>%green(%date{dd MMM yyyy;HH:mm:ss.SSS}) %highlight([%level]) %highlight([%logger{10} %file:%line]) %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="maskedOutputFile" class="ch.qos.logback.core.FileAppender">
        <!-- defined the location for the log files -->
        <file>./scheduled/logs/eureka.log</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <!-- defined the regular expressions after which group characters are to be replaced-->
            <layout class="de.security.microservice.server_discovery_eureka.Configuration.MaskingPatternConfiguration">
                <maskPattern>inserted_token\s*:\s*(.*?)\s</maskPattern>
                <maskPattern>EXTRACTED_TOKEN\s*:\s*(.*?)\s</maskPattern>
                <maskPattern>password\s*:\s*(.*?)\s</maskPattern>
                <maskPattern>HEADER\s*:\s*(.*?)\s</maskPattern>
                <pattern>%green(%date{dd MMM yyyy;HH:mm:ss.SSS}) %highlight([%level]) %highlight([%logger{10} %file:%line]) %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="maskedOutputConsole" />
        <appender-ref ref="maskedOutputFile"/>
    </root>

</configuration>